.wordmark-2u86JB:after {
    content: url(https://cdn.discordapp.com/attachments/635656154055442433/1040125672984686633/Add_a_heading_2.png);
    border-radius: 20px;
    
    ;
}

.typeWindows-2-g3UY {
    background-color:black;
}

:root {
    --darkplus-links: rgb(191, 147, 248);
    --darkplus-sec: rgb(191, 147, 248);
    --watermark-filter-brightness: 100%;
}

.withFrame-2dL45i {
    height: 60px;
}

